<h3>Adres</h3>
<p>
	<%= label_tag(:street, "Straat:") %>
	<%= f.text_field :street %>
</p>

<p>
	<%= label_tag(:streetnr, "Huisnummer:") %>
	<%= f.text_field :streetnr %>
</p>

<p>
	<%= label_tag(:zipcode, "Postcode:") %>
	<%= f.text_field :zipcode %>
</p>

<p>
	<%= label_tag(:city, "Gemeente:") %>
	<%= f.text_field :city %>
</p>

