<h3>Contactgegevens</h3>
<p>
	<%= label_tag(:phone, "Telefoonnummer:") %>
	<%= f.text_field :phone %>
</p>

<p>
	<%= label_tag(:gsm, "GSM nummer:") %>
	<%= f.text_field :gsm %>
</p>

<p>
	<%= label_tag(:email, "Email:") %>
	<%= f.text_field :email %>
</p>

<p>
	<%= label_tag(:fax, "Fax:") %>
	<%= f.text_field :fax %>
</p>
